<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CPMConnection" connectionString="Data Source=BWHUATITD21;Initial Catalog=AIA;Integrated Security=True" />
    <add name="ConnectionString" connectionString="Data Source=BWHUATITD21;Initial Catalog=AIA;Integrated Security=True" />
  </connectionStrings>
</configuration>